:root {
    --slot-size: 30px;
    --mobile-slot-size: 20px;
    --background-color: #8e6144;
}
body {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
}
html {
    background-image: url("https://parv66.tk/trade/background_trade.png");
    background-repeat: repeat-x;
    background-size: contain;
    background-position-x: center;
    background-position-y: center;
}
.box i {
    font-size: calc(var(--slot-size) - 6px);
    line-height: var(--slot-size);
    width: var(--slot-size);
    text-align: center;
    color: #292929;
}
.main1 {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    flex-direction: column;
    cursor: default;
    height: auto;
    padding: 0 15px;
    padding-bottom: 15px;
    width: auto;
    right: 278px;
    background-color: #c6c6c6;
    box-shadow: 4px 0 0 0 #555555, 0 4px 0 0 #555555, 2px 2px 0 0 #555555, -4px 0 0 0 #e8e8e8, 0 -4px 0 0 #e8e8e8, -2px -2px 0 0 #e8e8e8, 0 0 0 2px #b5b4b5, 2px 4px 0 0 #555, 4px 2px 0 0 #555, -2px -4px 0 0 #e8e8e8, -4px -2px 0 0 #e8e8e8, 4px -2px 0 0 #000, 2px -4px 0 0 #000, -4px 2px 0 0 #000, -2px 4px 0 0 #000, -4px -4px 0 0 #000, 4px 4px 0 0 #000, -6px 0 0 0 #000, -6px -2px 0 0 #000, 6px 0 0 0 #000, 6px 2px 0 0 #000, 0 -6px 0 0 #000, -2px -6px 0 0 #000, 0 6px 0 0 #000, 2px 6px 0 0 #000;
}
.box {
    height: var(--slot-size);
    width: var(--slot-size);
    background-color: #919191;
    box-shadow: 1px 1px 0 1px #e8e8e8, -1px -1px 0 1px #555, 0 0 0 2px #8b8b8b;
    cursor: default;
}
.box:hover {
    background-color: #c3c3c3;
    cursor: default;
}
.boxes {
    display: grid;
    align-content: center;
    grid-template-columns: repeat(9, calc(var(--slot-size) + 4px));
    grid-template-rows: repeat(6, calc(var(--slot-size) + 4px));
    cursor: default;
}
.boxes2 {
    display: grid;
    grid-template-columns: repeat(9, calc(var(--slot-size) + 4px));
    grid-template-rows: repeat(3, calc(var(--slot-size) + 4px));
    cursor: default;
    margin-bottom: 6px;
}
.boxes3 {
    display: grid;
    grid-template-columns: repeat(9, calc(var(--slot-size) + 4px));
    cursor: default;
    grid-template-rows: repeat(1, calc(var(--slot-size) + 4px))
}
.boxes, .boxes2, .boxes3 {
    margin-left: 8px;
    cursor: default;
}
h1 {
    font-weight: normal;
    font-style: normal;
    color: #555;
    display: inline-block;
    width: 100%;
    padding-left: 15px;
    font-size: 1rem;
    line-height: 30px;
    margin-top: 0;
    margin-bottom: 0;
}
.copperplusplus {
    background-image: url("https://parv66.tk/creations/icons/cog.png");
    background-size: cover;
    background-repeat: no-repeat;
    height: var(--slot-size);
    width: var(--slot-size);
    display: block;
    cursor: default;
}
.papple {
    background-image: url("https://parv66.tk/creations/icons/pappleicon.png");
    background-size: cover;
    background-repeat: no-repeat;
    height: var(--slot-size);
    width: var(--slot-size);
    display: block;
    cursor: default;
}
.tooltip {
    text-decoration: none;
    position: relative;
    cursor: default;
    border-image: linear-gradient(rgba(80, 0, 255, 0.31), rgba(40, 0, 127, 0.31)) 1;
}
.tooltip span {
    display: none;
    cursor: default;
    border-image: linear-gradient(rgba(80, 0, 255, 0.31), rgba(40, 0, 127, 0.31)) 1;
}
.tooltip:hover span {
    display: block;
    position: fixed;
    overflow: hidden;
    cursor: default;
    border-image: linear-gradient(rgba(80, 0, 255, 0.31), rgba(40, 0, 127, 0.31)) 1;
}
#minetip-tooltip {
    position: fixed;
    top: 0;
    left: 0;
    background-color: #100010;
    background-color: rgba(16,0,16,0.94);
    padding: 0.375em;
    font-family: minefont;
    font-size: 16px;
    word-spacing: 4px;
    white-space: nowrap;
    line-height: 1.25em;
    margin: 0.125em 0.25em;
    pointer-events: none;
    z-index: 9999;
}

.format-f, #minetip-tooltip {
    color: #FFF;
    text-shadow: 0.125em 0.125em 0 #3F3F3F;
}
#minetip-tooltip::before {
    content: "";
    position: absolute;
    top: 0.125em;
    right: -0.125em;
    bottom: 0.125em;
    left: -0.125em;
    border: 0.125em solid #100010;
    border-style: none solid;
    border-color: rgba(16,0,16,0.94);
}

#minetip-tooltip::after {
    content: "";
    position: absolute;
    top: 0.125em;
    right: 0;
    bottom: 0.125em;
    left: 0;
    border: 0.125em solid #2D0A63;
    border-image: -webkit-linear-gradient(rgba(80,0,255,0.31),rgba(40,0,127,0.31)) 1;
    border-image: linear-gradient(rgba(80,0,255,0.31),rgba(40,0,127,0.31)) 1;
}
p {
    font-family: minefont;
    color: orange;
    font-size: 24px;
    background: #FFFFAA;
}
.minetext {
    height: var(--slot-size);
    width: var(--slot-size);
}
