@font-face {font-family: "minefont";
  src: url("mcfont.woff") format("woff");
}
@font-face {font-family: "minefontbig";
  src: url("minefontbig.woff") format("woff");
}
@font-face {font-family: "minefontbigcaps";
  src: url("minefontbigcaps.woff") format("woff");
}
.logo {
	width: 100%;
	-webkit-box-align:center;
	    -ms-flex-align:center;
	        align-items:center;
}
html {
	background-color: lime;
	font-family: minefont;
	font-weight: lighter;
}
h1, h2, h3, h4, h5, h6, h7{
	font-family: minefont;
	font-weight: lighter;
}
.button {
	display: inline-block;
	font-family: minefont;
	color: #000;
	text-decoration: none;
	padding: 20px;
	margin: 10px auto 10px;
	background-color: #c6c6c6;
	-webkit-box-shadow: 0 10px 22px -6px #00000021, 0 -4px #555555 inset, 0 4px #ffffff inset, -4px 0 #555555 inset, 4px 0 #ffffff inset;
	        box-shadow: 0 10px 22px -6px #00000021, 0 -4px #555555 inset, 0 4px #ffffff inset, -4px 0 #555555 inset, 4px 0 #ffffff inset;
	border-style: none;
	width: 145px;
}
.overlay {
       visibility: hidden;
       opacity: 0;
       display: none;
}
.button:hover {
	color: #fff;
	background-color: #0bbf41;
	-webkit-box-shadow: 0 10px 22px -6px #00000021, 0 -4px #06ab33 inset, 0 4px #05d30cf7 inset, -4px 0 #06ab33 inset, 4px 0 #05d30cf7 inset;
	        box-shadow: 0 10px 22px -6px #00000021, 0 -4px #06ab33 inset, 0 4px #05d30cf7 inset, -4px 0 #06ab33 inset, 4px 0 #05d30cf7 inset;
	border: solid white 2px;
}
.mcTextDarkred {color: #AA0000;} .mcTextDarkblue {color: #0000AA;} .mcTextDarkpurple {color: #AA00AA;} .mcTextDarkgreen {color: #00AA00;} .mcTextDarkaqua {color: #00AAAA;}
.mcTextDarkgray, .mcTextDarkgrey {color: #555555;} .mcTextRed {color: #FF5555;} .mcTextGreen {color: #55FF55;} .mcTextAqua {color: #55FFFF;} .mcTextBlue {color: #5555FF;}
.mcTextYellow {color: #FFFF55;}.mcTextGray, .mcTextGrey {color: #AAAAAA;} .mcTextMineGold {color: #DDD605;} .mcTextGold {color: #FFAA00;} .mcTextWhite {color: #FFFFFF;}
.mcTextPurple {color: #FF55FF;}
.youtube {
    background-image: url("https://parv66.tk/icon/youtube.png");
    background-size: cover;
    background-repeat: no-repeat;
    height: 30px;
    width: 30px;
    display: inline-block;
    cursor: default;
    margin: 5px;
}
.youtube:hover {
    background-image: url("https://parv66.tk/icon/youtube_hover.png");
    background-size: cover;
    background-repeat: no-repeat;
}
.cord {
    background-image: url("https://parv66.tk/icon/cord.png");
    background-size: cover;
    background-repeat: no-repeat;
    height: 30px;
    width: 30px;
    display: inline-block;
    cursor: default;
    margin: 5px;
}
.cord:hover {
    background-image: url("https://parv66.tk/icon/cord_hover.png");
    background-size: cover;
    background-repeat: no-repeat;
}
footer {
	background-color: #c6c6c6;
	display: block;
	text-align: center;
	box-shadow: 8px 0 0 0 #555555, 
		0 8px 0 0 #555555, 
		4px 4px 0 0 #555555, 
		-8px 0 0 0 #e8e8e8, 
		0 -8px 0 0 #e8e8e8, 
		-4px -4px 0 0 #e8e8e8, 
		0 0 0 4px #b5b4b5,
		4px 8px 0 0 #555, 
		8px 4px 0 0 #555, 
		-4px -8px 0 0 #e8e8e8, 
		-8px -4px 0 0 #e8e8e8, 
		8px -4px 0 0 #000, 
		4px -8px 0 0 #000, 
		-8px 4px 0 0 #000,
		-4px 8px 0 0 #000, 
		-8px -8px 0 0 #000, 
		8px 8px 0 0 #000, 
		-12px 0 0 0 #000, 
		-12px -4px 0 0 #000, 
		12px 0 0 0 #000, 
		12px 4px 0 0 #000, 
		0 -12px 0 0 #000, 
		-4px -12px 0 0 #000, 
		0 12px 0 0 #000, 
		4px 12px 0 0 #000;
	width: 100%;
	height: 20vh;
	display: block;
	position: relative;
	bottom: 0vh;
}
.himg {
	z-index: 2;
	position: absolute;
	height: auto;
	width: 100vw;
	top: 0vh;
	right: 0vh;
	left: 0vh;
	bottom: 0vh;
}
.tabbtn {
       background-color: #626262;
       border: none;
       z-index: 5;
       width: 19%;
       height: 100px;
       margin-left: 16px;
       margin-right: 16px;
       margin-bottom: 4px;
       box-shadow: -4px 0px 0px 0px #626262,
		   0px -4px 0px 0px #626262,
		   -8px -8px 0px 0px #C4C4C4,
		   4px -4px 0px 0px #626262,
		   5px 0px 0px -1px #626262,
		   -8px -12px 0px 0px #C4C4C4,
		   -12px -8px 0px 0px #C4C4C4,
		   -12px 0px 0px 0px #C4C4C4,
		   4px -12px 0px 0px #C4C4C4,
		   12px -4px 0px 0px #2C2C2C,
		   8px -1px 0px 0px #2C2C2C,
		   8px -8px 0px 0px #8B8B8B,
		   -16px -4px 0px 0px black,
		   -16px -8px 0px 0px black,
		   -8px -16px 0px 0px black,
		   -12px -12px 0px 0px black,
		   16px -4px 0px 0px black,
		   4px -16px 0px 0px black,
		   8px -12px 0px 0px black,
		   12px -8px 0px 0px black,
		   0px 4px 0px 0px #626262,
		   4px 4px 0px 0px #626262,
		   -4px 6px 0px 0px #626262,
		   4px 6px 0px 0px #626262,
	       12px 6px 0px 0px #2C2C2C,
		   16px 6px 0px 0px black;
       display: flex;
       flex-direction: column;
       align-items: flex-start;
       flex-wrap: wrap;
       align-content: flex-start;
}
.tabbtnactive {
       background-color: #c6c6c6;
       border: none;
       display: inline-block;
       z-index: 7;
       width: 19%;
       height: 100px;
       margin-left: 16px;
       margin-right: 16px;
       margin-bottom: 4px;
       box-shadow: -4px 0px 0px 0px #c6c6c6,
     0px -4px 0px 0px #c6c6c6,
     -8px -8px 0px 0px #ffffff,
     4px -4px 0px 0px #c6c6c6,
     5px 0px 0px -1px #c6c6c6,
     -8px -12px 0px 0px #ffffff,
     -12px -8px 0px 0px #ffffff,
     -12px 0px 0px 0px #ffffff,
     4px -12px 0px 0px #ffffff,
     12px -4px 0px 0px #555555,
     8px -1px 0px 0px #555555,
     8px -8px 0px 0px #b8b8b8,
     -16px -4px 0px 0px black,
     -16px -8px 0px 0px black,
     -8px -16px 0px 0px black,
     -12px -12px 0px 0px black,
     16px -4px 0px 0px black,
     4px -16px 0px 0px black,
     8px -12px 0px 0px black,
     12px -8px 0px 0px black,
     0px 4px 0px 0px #c6c6c6,
     4px 4px 0px 0px #c6c6c6,
     -4px 6px 0px 0px #c6c6c6;
       display: flex;
       flex-direction: column;
       align-items: flex-start;
       flex-wrap: wrap;
       align-content: flex-start;
       text-align: end;
}
.tabindex {
	box-shadow: 8px 0 0 0 #555555,
    0 8px 0 0 #555555,
    4px 4px 0 0 #555555,
       -8px 0 0 0 #fff,
    0 -8px 0 0 #fff,
    -4px -4px 0 0 #fff,
    0 0 0 4px #b5b4b5,
    4px 8px 0 0 #555,
    8px 4px 0 0 #555,
    -4px -8px 0 0 #fff,
    -8px -4px 0 0 #fff,
    8px -4px 0 0 #000,
    4px -8px 0 0 #000,
    -8px 4px 0 0 #000,
    -4px 8px 0 0 #000,
    -12px -12px 0 0 #000,
    8px 8px 0 0 #000,
    -12px 0 0 0 #000,
    -12px -3px 0 0 #000,
    12px 0 0 0 #000,
    12px 4px 0 0 #000,
    0 -12px 0 0 #000,
    -4px -12px 0 0 #000,
    0 12px 0 0 #000,
    4px 12px 0 0 #000;
	width: 84.33%;
	height: 500px;
	background-color: #C6C6C6;
	z-index: 6;
}
.tabicon {
	width: 80px;
	height: auto;
	position: relative;
	margin: auto;
}
.tabtext {
	font-family: 'minefont';
	position: relative;
	font-size: 30px;
	top: 5px;
	color: #4c4c4c;
}
.tabtext2 {background-color: #4c4c4c;color: #ffffff;font-family: 'minefont';box-shadow: 4px 0px 0px 0px #4C4C4C,0px -4px 0px 0px #4C4C4C,-4px 0px 0px 0px #4C4C4C,0px 4px 0px 0px #4C4C4C;font-size: 30px;position: relative;left: 6px;bottom: 4px;}
