@font-face {font-family: "minefont";
  src: url("mcfont.woff") format("woff");
}
.logo{
	width: 100%;
	align-items:center;
}
html {
	background-color: lime;
	font-family: minefont;
}
.button {
	display: inline-block;
	font-family: minefont;
	color: #000;
	text-decoration: none;
	padding: 20px;
	margin: 10px auto 25px;
	background-color: #c6c6c6;
	box-shadow: 0 10px 22px -6px #00000021, 0 -4px #555555 inset, 0 4px #ffffff inset, -4px 0 #555555 inset, 4px 0 #ffffff inset;
	border-style: none;
	width: 145px;
}

.button:hover,
.button:focus,
.button:active {
	color: #fff;
	background-color: #0bbf41;
	box-shadow: 0 10px 22px -6px #00000021, 0 -4px #06ab33 inset, 0 4px #05d30cf7 inset, -4px 0 #06ab33 inset, 4px 0 #05d30cf7 inset;
	border: solid white 2px;
}
.footer {
   align-items: center;
   text-align: center;
   font-family: minefont;
   border-top-style: solid;
   border-top-color: #696969;
   background-color: grey;
   border-top-width: thick;
}
.errl {
   animation: error666 1s linear infinite;
   text-align: center;
}
@keyframes error666 {
  0% {filter: invert(100%);}
  100% {filter: invert(100%);}
}
.erbtn {
  position: relative;
  display: inline-block;
}

.erbtn .errtext {
  visibility: hidden;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  transition: opacity 0.3s;
  top: 110%;
  left: %;
  margin-left: -60px;
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}
.erbtn .errtext::after {
  content: "";
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent #555 transparent;
}

.erbtn:hover .errtext {
  visibility: visible;
  opacity: 1;
}
