.invisible {
  visibility: hidden;
}
.item {
  margin: 2px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 30px;
  height: 30px;
}

.item img {
  width: 28px;
}

.ghostItem img {
  width: 28px;
  left: 8px;
  position: absolute;
  top: 5px;
}
.ghostItem {
  right: -13px;
}

::selection {
  background: transparent;
}

::-moz-selection {
  background: transparent;
}
.number {
  font-family: minefont;
  font-size: 24px;
  color: #fefefe;
  position: relative;
  text-shadow: #333 1px 2px 1px;
  top: -16px;
  right: -8px;
  cursor: default;
}
